body {
    font-family: "Raleway";
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #0d0d0d;
    background-position: left top;
    background-attachment: fixed;
    min-width: 900px;
}

.event-text {
    position: relative;
    margin: 5% 0% 0% 0%;
    text-align: justify;
    display: block;
    width: 100%;
    clear: left;
    font-size: 1em;
    line-height: 1.2;
}

#event-info {
    clear: both;
    width: 900px;
    margin: auto;
    margin-top: 0px;
    position: relative;
    margin-top: 170px;
}


.social-media {
    float: left;
    position: fixed;
    top: 10em;
}

#twitter, #instagram, #facebook {
    position: relative;
    margin: 0 1em;
    width: 50px;
    height: auto;
    -webkit-transition: 0.3s ease-in-out 0s;
    -moz-transition: 0.3s ease-in-out 0s;
    -o-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
    -webkit-filter: opacity(25%);
    -moz-filter: opacity(25%);
    -o-filter: opacity(25%);
    filter: opacity(25%);
}


#twitter:hover, #instagram:hover, #facebook:hover {
    -webkit-filter: opacity(100%);
    -moz-filter: opacity(100%);
    -o-filter: opacity(100%);
    filter: opacity(100%);
}

.twitter-timeline {

}