@font-face {
    font-family: 'Raleway';
    src: url("../font/Raleway.ttf");
    font-weight: lighter;
}


.heading{
    font-weight: lighter;
    color: #ffffff;
    font-size: 3em;
    text-align: center;
    margin: 0 0 0 0;
    position: relative;
    width: auto;
    text-transform: uppercase;  
    background-color: black;
    line-height: 2; 
}

body {
    font-family: "Raleway";
    font-weight: bold;
    color: #ffffff;
    margin: 0em;
    background-image: url("https://static1.squarespace.com/static/5681b73405f8e2137580e04e/t/5681e5c3d8af10374c4a63aa/1451353540902/About+Splash.jpg?format=2500w");
    background-position: left top;
    background-attachment: fixed;
    min-width: 900px;
}


.slider {
    width: 100%;
}

.compass {
    width: 50px;
    height: auto;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4 ease-in-out;
    -o-transition: 0.4 ease-in-out;
    transition: 0.4s ease-in-out;
    transform: rotate(90deg);
    

}

.menu {
    width: 50px;
    margin: 1% 0% 0% 5%;
    float: left;
    z-index: 1;
    text-align: center;
    font-size: 0.6em;
    text-transform: uppercase;
}

.slider:hover .compass {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition-delay: 0s;
}



.dropdown {
    visibility: hidden;
    float: left;
    font-size: 1.2em;
    opacity: 0;
    margin: 1% 0 0 0%;
    line-height: 50px;
    width: 25em;
    min-width: 700px;
    text-align: center;
    position: relative;
    left: -50px;
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    z-index: 0;
}


.slider:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateX(50px);
    transition-delay: 0.1s;
}


.menu-link {
    margin: 0em 2em 0em 0em;
    display: inline;
    position: relative;
    text-transform: uppercase;    
}

.menu-link, .menu-link:hover, .menu-link:focus {
    white-space: nowrap;
    text-decoration: none;
    color: #aaf;
    text-shadow: none;
    -webkit-transition: 250ms linear 0s;
    -moz-transition: 250ms linear 0s;
    -o-transition: 250ms linear 0s;
    transition: 250ms linear 0s;
    outline: 0 none;
}

.menu-link:hover, .menu-link:focus {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.menu {
    float: left;
}

.main-text {
    position: relative;
    top: 2em;
    margin: 0 5%;
    display: block;
    width: 40%;
    clear: left; 
    font-size: 1em;
    line-height: 2em;
}