
.endor{
    width: 400px;
    height: auto;
}


.main-text {
    position: relative;
    margin: 180px 0 0 90px;
    display: inline;
    width: 40%;
    height: auto;
    clear: both;
    float: left;
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
}


#endor-canvas {
    clear: both;
    float: right;
    margin: -45em auto 0 auto;
    background: none;
    overflow: visible;
}

#static-endor {
    width: 50%;
    height: auto;
    position: relative;
    clear: both;
    float: right;
    margin: -37em auto 0 auto;
    right: 15em;
}


.planet-side {
    position: relative;
    clear: both;
    float: right;
    width: 50%;
    height: auto;
}


.activate {
    display: inline-block;
    align-content: center;
    line-height: 3.5em;
    margin: 0 0 4em 16em;
    width: 50%;
    font-size: 15px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #333333;
    -webkit-transition: 0.3s linear 0s;
    -moz-transition: 0.3s linear 0s;
    -o-transition: 0.3s linear 0s;
    transition: 0.3s linear 0s;
    text-transform: uppercase;
    background-color: #FF6600;
    color: #ffffff;
    cursor: pointer;

}

.activate:hover {
    background-color: green;
}


#image {
    float: right;
    position: relative;
    right: 2em;
    top: 50px;
}
