
body {
    font-family: "Raleway";
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #0d0d0d;
    background-position: left top;
    background-attachment: fixed;
    min-width: 900px;
}

.endor{
    width: 400px;
    height: auto;
}

.main-text {
    position: relative;
    margin: 180px 0 0 90px;
    display: block;
    width: 40%;
    clear: left;
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
}

#image {
    float: right;
    position: relative;
    right: 2em;
    top: 50px;
}
