.black{
    /*position: relative;*/
    color: green;
    background-color: #0d0d0d;
    /*background-color: red;*/
    /*top: 350px;*/
    height: 400px;
    /*height: auto;*/
    /*clear: both;*/
    /*padding: 20px;*/
    z-index: 50;
    width: 100%;
    /*margin: -1px 0 -1px 0;*/
    /*display: block;*/
}


.text {
    width: 50%;
    /*background-color: red;*/
    /*display: inline;*/
    float: left;
    margin: 0;
}

.buttons {
    width: 50%;
    /*display: inline;*/
    float: right;
    /*background-color: yellow;*/
    margin: 0;
}

.scrolling {
    position: relative;
    top:40em;
}

#tickets{
    margin: 90px auto;
    width: 80%;
}


.triangle {
    position: relative;
    width: 100%;
    /*margin-top: -1px;*/
    clear: both;
    display: block;
    /*background-color: green;*/
    margin: 0;
}

#footer-container{
    height:800px;
}



#forest-back{
    position: fixed;
    width: 80%;
    z-index: -1;
    margin: 0;
}

.frosted{
    background: rgba(255, 255, 255, 0.6);
    color: black;
}

.package{
    height: 400px;
    /*background-color: red;*/
}
