@font-face {
    font-family: 'Raleway';
    src: url("../font/Raleway.ttf");
    font-weight: lighter;
}

button::-moz-focus-inner {
  border: 0;
}

body {
    font-family: "Raleway";
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #0d0d0d;
    min-width: 900px;
}

#top-bar {
    width:100%;
    position: fixed;
    /*margin: 0px;*/
    top: 0px;
    height:90px;
    padding: 0;
    z-index: 100;
    overflow: visible;
}


.title-bar {
    width:100%;
    /*text-align: center;*/
    top: 0;
    padding: 0;
    /*line-height: 70px;*/
    height:90px;
    background-color: #0d0d0d;

}

.heading{
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
    width: 12em;
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    position: fixed;
    /*margin-right: 180px;*/
    margin-top: 20px;
    left: 50%;
    margin-left: -6em;
    /*margin-right: auto;*/
    padding: 0px;
    text-transform: uppercase;
}

#underline {
    background-color: green;
    width: 0%;
    opacity: 0;
    height: 3px;

}


#logo {
    width: 50px;
    margin-right: 40px;
    margin-top: 20px;
    float: right;
    display: block;
    -webkit-transition: 0.4s ease-in-out 0s;
    -moz-transition: 0.4s ease-in-out 0s;
    -o-transition: 0.4s ease-in-out 0s;
    transition: 0.4s ease-in-out 0s;
    -webkit-filter: opacity(25%);
    -moz-filter: opacity(25%);
    -o-filter: opacity(25%);
    filter: opacity(25%);
    cursor: pointer;
    z-index: 100;
}

#login-hint {
    font-size: 0.6em;
    margin-top: 0.9em;
    width: 50px;
    text-align: center;
    padding: 0px;
    text-transform: uppercase;
    /*height: 20px;*/
}

#logo:hover{
    -webkit-filter: opacity(100%);
    -moz-filter: opacity(100%);
    -o-filter: opacity(100%);
    filter: opacity(100%);

}

#trooper {
    position:relative;
    vertical-align: middle;
    width: 50px;
    height: 100%;
}


.slider {
    width: 100%;
}

.compass {
    width: 50px;
    height: auto;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    transform: rotate(90deg);
}

.menu {
    width: 50px;
    margin: 20px 0 0 90px;
    float: left;
    z-index: 1;
    text-align: center;
    /*font-size: 0.6em;*/
    /*text-transform: uppercase;*/
    cursor: default;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-filter: opacity(25%);
    -moz-filter: opacity(25%);
    -o-filter: opacity(25%);
    filter: opacity(25%);
}

.menu-link {
    margin: 0em 2em 0em 0em;
    display: inline;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: 250ms linear 0s;
    -moz-transition: 250ms linear 0s;
    -o-transition: 250ms linear 0s;
    transition: 250ms linear 0s;
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
}

.menu-link:hover, .menu-link:focus {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.slider:hover .menu {
    -webkit-filter: opacity(100%);
    -moz-filter: opacity(100%);
    -o-filter: opacity(100%);
    filter: opacity(100%);
}

.hint {
    position: relative;
    top: 0px;
    width: 50px;
    height: 10px;
    font-size: 0.6em;
    /*margin-top: 0.5em;*/
    display: block;
    text-transform: uppercase;
    padding: 0px;
}


.slider:hover .compass {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition-delay: 0s;
    -webkit-filter: opacity(100%);
    -moz-filter: opacity(100%);
    -o-filter: opacity(100%);
    filter: opacity(100%);
}

.dropdown {
    visibility: hidden;
    float: left;
    font-size: 1.2em;
    opacity: 0;
    margin: 20px 0px 0px 0px;
    line-height: 50px;
    width: 25em;
    min-width: 700px;
    text-align: center;
    position: relative;
    left: -50px;
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    z-index: 99999;
}

.slider:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateX(50px);
    transition-delay: 0.1s;
}

#login {
    position: relative;
    text-align: center;
    line-height: 30px;
    clear: both;
    float: right;
    width: 12%;
    margin: 20px 20px 0 0;
    /*padding: 0.5em 1em 0.5em 1em;*/
    background: rgba(13,13,13, 0.5);
    border: 2px solid #333333;
    border-radius: 10px;
    /*visibility: hidden;*/
}


#trooperbox {
    opacity: 0;
}


input {
    width: 90%;
    position: relative;
    margin: 0.2em;
    border-radius: 5px;
    border: 2px solid #333333;
    height: 1.5em;
    color: #e6e6e6;
    background: #0d0d0d;
}

input[type=submit] {
    width: 95%;
    height: 3.5em;
    font-family: "Raleway";
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    -webkit-transition: 0.6s ease-in-out 0s;
    -moz-transition: 0.6s ease-in-out 0s;
    -o-transition: 0.6s ease-in-out 0s;
    transition: 0.6s ease-in-out 0s;

    /*background: rgba(255, 255, 255, 0);*/
    text-transform: uppercase;

    /*border:0 solid white;*/
    cursor:pointer;
    border: 1px solid #333333;
    margin: 3px auto;

    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    /*background: none;*/


}


input[type=submit]:focus {
    outline: none;
}


input[type=submit]:hover {
    background-color: #d3d3d3;
    color: #000000;
}


.form-indicator {
    font-size: 0.7em;
    text-align: left;
    color: red;
    line-height: 1em;
    margin-left: 6px;
    height: 0.7em;
    padding: 0;
}

/*Merge into the input type submit block?*/
#sign-up {
    width: 95%;
    height: 3.5em;
    display: block;
    font-size: 15px;
    line-height: 3.5em;
    text-align: center;
    text-transform: uppercase;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #333333;
    margin: 3px auto;
    /*background: rgba(255, 255, 255, 0);*/
    background-color: green;
    -webkit-transition: 0.6s ease-in-out 0s;
    -moz-transition: 0.6s ease-in-out 0s;
    -o-transition: 0.6s ease-in-out 0s;
    transition: 0.6s ease-in-out 0s;
    /*background: none;*/
}

#logoutbutton:focus {
    outline: none;
}

#sign-up:hover {
    background-color: #FF6600;
}


footer {
    position: relative;
    clear: both;
    width: 100%;
    font-size: 12px;
    background-color: #0d0d0d;
    text-align: center;
    opacity: 0.5;
}

footer p {
    width: 100%;
}

footer p:first {
    margin-top: 1em;
}

footer p:last-child {
    padding-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: #FF6600;
}

footer a:hover {
    color: green;
    text-decoration: underline;
}



#footer-line {
    width: 50%;
}


.button {
    width: 90%;
    font-size: 15px;
}

#profilebutton, #logoutbutton {
    width: 95%;
    height: 3.5em;
    display: block;
    font-size: 15px;
    line-height: 3.5em;
    text-align: center;
    text-transform: uppercase;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #333333;
    margin: 3px auto;
    -webkit-transition: 0.3s ease-in-out 0s;
    -moz-transition: 0.3s ease-in-out 0s;
    -o-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
}

#logoutbutton {
    background-color: green;
}

#logoutbutton:hover {
    background-color: red;
}

#logoutbutton:focus {
    outline: none;
}

#profilebutton {
    background-color: transparent;
    color: white;
}

#profilebutton:hover {
    background-color: white;
    color: black;
}

#profilebutton:focus {
    outline: none;
}

#username-word {
    font-size: 18px;
    line-height: 3.5em;
}
